/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(8, 154, 238);
    color: white;
  }

  /* End of Nav Bar CSS */

body {
    font-family: Helvetica;

}

.education-table, th, td{
  border: 5px solid white;
  border-collapse: collapse;
  background-color: #96D4D4;
}

.work-experience-table {
  border: 5px solid white;
  border-collapse: collapse;
  background-color: #96D4D4;
}

.fa-linkedin {
  color: #0A66C2;
}

.fa-envelope {
  color: #D14836;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  font-style: italic;
  border-radius: 5px;
}

.profile-picture {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight:bold;
}